<div id="main_container">
  <div id="results_container">
    <h1>Resultados</h1>
    <table>
      <tr>
        <th></th>
        <th><strong>Tamanho inicial</strong></th>
        <th><strong>Crescimento esperado</strong></th>
        <th><strong>Tamanho final esperado</strong></th>
        <th><strong>Coeficiente de precisão (0~1)</strong></th>
      </tr>
      <tr>
        <td><strong>Comprimento</strong></td>
        <td><span><%= params[:previous_length] %> cm</span></td>
        <td><span><%= @expectedGrowthLength %> cm</span></td>
        <td><span><%= @expectedLength %> cm</span></td>
        <td><span class="<%= @lengthStyle %>"><%= @determinationCoefficientLength %></span></td>
      </tr>
      <tr>
        <td><strong>Largura</strong></td>
        <td><span><%= params[:previous_width] %> cm</span></td>
        <td><span><%= @expectedGrowthWidth %> cm</span></td>
        <td><span><%= @expectedWidth %> cm</span></td>
        <td><span class="<%= @widthStyle %>"><%= @determinationCoefficientWidth %></span></td>
      </tr>
    </table>
    <div class="result_container">
      <strong>Largura inicial:</strong> <span><%= params[:previous_width] %> cm</span>
    </div>
    <div class="result_container">
      <strong>Comprimento inicial:</strong> <span><%= params[:previous_length] %> cm</span>
    </div>
    <div class="result_container">
      <strong>Crescimento de largura esperado:</strong> <span><%= @expectedGrowthWidth %> cm</span>
    </div>
    <div class="result_container">
      <strong>Crescimento de comprimento esperado:</strong> <span><%= @expectedGrowthLength %> cm</span>
    </div>
    <div class="result_container">
      <strong>Largura esperada:</strong> <span><%= @expectedWidth %> cm</span>
    </div>
    <div class="result_container">
      <strong>Comprimento esperado:</strong> <span><%= @expectedLength %> cm</span>
    </div>
    <div class="result_container">
      <strong>Coeficiente de precisão da largura (0-1):</strong> <span class="<%= @widthStyle %>"><%= @determinationCoefficientWidth %></span>
    </div>
    <div class="result_container">
      <strong>Coeficiente de precisão do comprimento (0-1):</strong> <span class="<%= @lengthStyle %>"><%= @determinationCoefficientLength %></span>
    </div>
  </div>
  <div id="results_container">
    <div class="constant_container">
      <div class="constant_container_length">
        <h3>Comprimento</h3>
        <code>c = <%= @constantsL[0] %> + Luminosidade x  <%= @constantsL[1] %> + PH x <%= @constantsL[2] %> + Temperatura x <%= @constantsL[3] %> + Fluxo água x <%= @constantsL[4] %> + Área x <%= @constantsL[5] %></code>
      </div>
      <div class="constant_container_width">
        <h3>Largura</h3>
        <code>l = <%= @constantsW[0] %> + Luminosidade x  <%= @constantsW[1] %> + PH x <%= @constantsW[2] %> + Temperatura x <%= @constantsW[3] %> + Fluxo água x <%= @constantsW[4] %> + Área x <%= @constantsW[5] %></code>
      </div>
    </div>
  </div>
  <div id="results_container">
    <h3>Comprimento</h3>
    <%= line_chart @graphDataLength, discrete: true, xtitle: "Data", ytitle: "Tamanho(cm)", min: @graphMinLength, max: @graphMaxLength %>
  </div>
  <div id="results_container">
    <h3>Largura</h3>
    <%= line_chart @graphDataWidth, discrete: true, xtitle: "Data", ytitle: "Tamanho(cm)", min: @graphMinWidth, max:  @graphMaxWidth %>
  </div>
</div>
